In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# P3 T1.1 Прочитайте csv файл (використовуйте функцію read_csv)
table = pd.read_csv("bestsellers_with_categories.csv")

In [8]:
# P3 T1.2 Виведіть перші п'ять рядків (використовується функція head)
table.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [17]:
# P3 T1.3 Виведіть розміри датасету (використовуйте атрибут shape)
table.shape

(550, 7)

In [18]:
# P3 T1.4 Про скільки книг зберігає дані датасет?
print("Відповідь: 550 книг")

Відповідь: 550 книг

In [20]:
# P3 T1.5 Зніма назв колонок
table.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
# table.head()

In [22]:
# P3. Первинне дослідження даних 
# T1. Перевірте, чи у всіх рядків вистачає даних: виведіть кількість пропусків (na) у кожному зі стовпців (використовуйте функції isna та sum)
table.isnull().sum()/table.shape[0]

name           0.0
author         0.0
user_rating    0.0
reviews        0.0
price          0.0
year           0.0
genre          0.0
dtype: float64

In [23]:
# P3. Первинне дослідження даних 
# T2. Чи є в якихось змінних пропуски?
print("Відповідь: Ні")

Відповідь: Ні

In [24]:
# P3. Первинне дослідження даних 
# T3. Перевірте, які є унікальні значення в колонці genre (використовуйте функцію unique)
table["genre"].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [25]:
# P3. Первинне дослідження даних 
# T4. Які є унікальні жанри?
print("Відповідь: 'Non Fiction', 'Fiction'")

Відповідь: 'Non Fiction', 'Fiction'

In [ ]:
# P3. Первинне дослідження даних 
# T5. Тепер подивіться на розподіл цін: побудуйте діаграму (використовуйте kind='hist')

In [ ]:
# P3. Первинне дослідження даних 
# T6. Визначте, яка ціна у нас максимальна, мінімальна, середня, медіанна (використовуйте функції max, min, mean, median)

In [ ]:
# P3. Первинне дослідження даних 
# T7. Максимальна ціна?
print("Відповідь: ")

In [ ]:
# P3. Первинне дослідження даних 
# T8. Мінімальна ціна?
print("Відповідь: ")

In [ ]:
# P3. Первинне дослідження даних 
# T9. Середня ціна?
print("Відповідь: ")

In [ ]:
# P3. Первинне дослідження даних 
# T10. Медіанна ціна?
print("Відповідь: ")